/*
 * min.css for OpenJSCAD.org viewer
 */

@font-face {
  font-family: "europa";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.typekit.net/af/de8f44/0000000000000000000129a3/27/l?subset_id=2&fvd=n3");
}
@font-face {
  font-family: "futura-pt";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.typekit.net/af/9749f0/00000000000000000001008f/27/l?subset_id=2&fvd=n5");
}

body {
    margin: 0px;
    padding: 0px;
}

#instantUpdate, #instantUpdateLabel {
     display: none;
 }

.jscad-container {
  color: Black;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans;
  min-width: 410px;
}

#header {
  margin: 5px; /* not inherited */
}

#viewerContext {
float: left;
  margin: 5px; /* not inherited */
  padding: 0px; /* not inherited */
  border: 1px solid #dddddd;

  background: white;
  width: 400px;
  height: 400px;
}

canvas { 
  margin: 0px; /* not inherited */
  border: 0px none gray; /* not inherited */
  padding: 0px; /* not inherited */

  width: 100%;
  height: 100%;

  cursor: move; 
}

#parametersdiv {
float: left;
  margin: 5px; /* not inherited */
  border-radius: 1em;     
  padding: 10px;

  background: white;
  opacity: 0.8;

font-family: "europa";
font-size: 16px;
line-height: 1.6em;
letter-spacing: .5px;
font-weight: bold;
font-style: normal;
color: #1f1f1f;
text-align: center;
}

#parametersdiv table {
  margin-bottom: 5px;

  text-align: left;
  font-weight: normal;
}

#parametersdiv th {
  margin:  0px; /* not inherited */
  border:  0px none gray; /* not inherited */
  padding: 5px; /* not inherited */

  font-weight: bold;
}

#parametersdiv th.caption {
  text-decoration: underline;
}

#parametersdiv td.caption {
  text-align: right;
  font-weight: bold;
}

#parametersdiv td {
  margin:  0px; /* not inherited */
  border:  0px none gray; /* not inherited */
  padding: 0px; /* not inherited */
  font-weigth: bold;
}

#parametersdiv input, #parametersdiv textarea, #parametersdiv select {
  border: none;
  border: 1px solid #dddddd;
}

#updateButton {
  margin-top: 10px;
  border:  2px solid Black; /* not inherited */
  padding: 10px 20px; /* not inherited */
  background: white;
  font-size: 14pt;
  font-family: "futura-pt";
  text-transform: uppercase;
    transition: 0.1s background-color linear, 0.1s color linear;
                transition-property: background-color, color;
                transition-duration: 0.1s, 0.1s;
                transition-timing-function: linear, linear;
                transition-delay: 0s, 0s;

}

#updateButton:hover {
text-align: center;
  margin-top: 10px;
  border:  2px solid Black; /* not inherited */
  padding: 10px 20px; /* not inherited */
  background: black;
  color: white;
  font-size: 14pt;
  font-family: "futura-pt";
  text-transform: uppercase;

}

#errordiv pre {
color: red;
white-space: normal;
}

#tail { 
  margin: 5px; /* not inherited */
}

#busy {
  vertical-align: middle;
}

